@keyframes slidein {
    0%   {opacity:0;}
    100% {opacity:1;}
}

.customer-container .row{
    margin-top: 4%;
    margin-bottom: 4%;
}

.alert {
    animation-name: slidein;
    animation-duration: .9s;
    display: block;
}

.modal-header {
    background: #776756 ;
}

.modal-footer {
    background: #776756 ;
}

.modal-body {
    background: #c6b9ab;
}